@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CoreSens";
  src: url("./fonts/titleFont/CoreSansA65Bold.otf");
}
@font-face {
  font-family: "Kiro";
  src: url("./fonts/bodyFont/KiroW01Regular.ttf");
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
